@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    background-color: rgb(245, 244, 241);
    overflow-x: hidden;
}



#sections2 {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 60px;
    margin-right: 50px;
}

.categoryLegend {
    font-family: "Domine";
}

.step {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.step2 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

#passthrough{
    z-index: -10
}

#overlay{
    z-index: 90;
}

h1, h2 {
    font-weight: 700;

    line-height: 32px;
}

h1 {
    font-size: 35px;
}

h1 span { 
    background-color: white; 
}

strong {
    color: rgb(245, 155, 155);
}

#graphic {
    width: 100vw;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}



#map {
    width: 100vw;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#rentvis {
    z-index: 0;
    margin-left: 0;
    height: 85vh;
    width: inherit
}

#vacancyvis {
    z-index: 0;
    margin-left: 0;
    height: 80vh;
    width: inherit
}

.tick line {
    stroke: 'red'
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

svg circle:hover{
    cursor: pointer;
}


.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

/* Chart Annotations */
  :root {
      --line-chart-color: #607D8B;
      --annotation-context-color: #546E7A;
      --annotation-badge-color:white;
      --annotation-color: #E8336D;
    }

    svg .annotation.callout.rect path.subject{
      fill-opacity: .1;
    }

    svg .annotation.callout.rect path.subject {
      fill: var(--annotation-context-color);
      stroke: none;
      stroke-dasharray: 2, 8;
    }

    .annotation-note-bg {
      fill: rgba(0, 0, 0, 0);
    }

    .annotation-note-title, text.title {
      font-weight: bold;
    }

    svg .annotation.rect text {
      fill: var(--annotation-context-color);
      font-size: .6em;
      text-transform: uppercase;
    }

/* Chart Tooltips */

.focus circle {
        fill: steelblue;
    }

    .tooltip {
        width: 94px;
        padding: 4px 10px;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        position: absolute;
        background-color: white;
        font-size: 14px;
        pointer-events: none;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    .tooltip div {
        margin: 3px 0;
    }

    .tooltip-date, .tooltip-likes {
        font-weight: bold;
    }
.ttoverlay {
        fill: none;
        pointer-events: all;
    }
a {
    
    text-decoration: none important!;
}

img {
    display: none;
}



.tab04_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tab04_tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 3px;
  border-color: #e6e6e6;
  border-radius: 10px;
  background-color: transparent;
}

.tab05_tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 3px;
  border-color: #e6e6e6;
  border-radius: 10px;
  background-color: transparent;
}

.tab04_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 85vh;
  margin-bottom: 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
  background-color: #e6e6e6;
  -o-object-fit: fill;
  object-fit: fill;
}

.tab05_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 85vh;
  margin-bottom: 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
  background-color: #e6e6e6;
  -o-object-fit: fill;
  object-fit: fill;
}

.tab04_tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  margin-bottom: 10px;
  padding: 20px 25px;
  border-radius: 8px;
  background-color: transparent;
  color: #0a1f44;

}

.tab05_tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  margin-bottom: 10px;
  padding: 20px 25px;
  border-radius: 8px;
  background-color: transparent;
  color: #0a1f44;

}

.tab05_tab.w--current {
 
  background-color: transparent;
  color: #222222;
  opacity: 100% !important;
  box-shadow:1px 1px 4px 0px rgb(0 0 0 / 20%);
}

.tab04_tab.w--current {
 
  background-color: transparent;
  color: #222222;
  opacity: 100% !important;
  box-shadow:1px 1px 4px 0px rgb(0 0 0 / 20%);
}

.tab04_icon {
  width: 22px;
  margin-right: 15px;
}

.tab04_image {
  position: relative;
  border-radius: 9px;
}

.tab04_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab05_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab04_paragraph {
  max-width: 560px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #4e5d78;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.tab04_h3 {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #0a1f44;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}

.tab04_title_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab04_title {
  font-size: 18px;
  font-weight: 600;
  color: black !important;
}

.tab04 {
  padding-top: 100px;
    padding-right: 5%;
    padding-bottom: 100px;
    padding-left: 5%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  width:90vw;
}

.mapcontainer {
  padding: 100px 5%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  width:90vw;
}